### Введение в программирование на python
#### Ввод и вывод данных
#### Автор: Калитвин В.А.
#### kalitvin@gmail.com

Для организации вывода данных используется функция print. По
умолчанию вывод осуществляется в стандартный поток (на экран), хотя
можно организовать вывод в текстовый файл или на печать.
Общий синтаксис функции print:

print(*objects, sep=' ', end='\n', file=None, flush=False)

Здесь *objects - один или несколько объектов, которые будут отправ-
лены в поток вывода

In [2]:
print('Text1') # Вывод на экран одной строки
print('Text1', 'Text2') # Вывод на экран двух строк

Text1
Text1 Text2

Необязательный параметр sep позволяет указать разделитель между
объектами. Разделитель должен быть строкового типа. По умолчанию ис-
пользуется пробел.

In [4]:
print('Text1', 'Text2', 'Text3') # Разделитель - пробел
print('Text1', 'Text2', 'Text3', sep='.') # Разделитель - точка
print('Text1', 'Text2', 'Text3', sep=';') # Разделитель - точка с запятой
print('12', '40', '57', sep=':') # Разделитель - двоеточие

Text1 Text2 Text3
Text1.Text2.Text3
Text1;Text2;Text3
12:40:57

Необязательный параметр end позволяет указать символ, который будет выведен после всех объектов. По умолчанию используется символ перевода на новую строку ('\n').

In [5]:
print('Text1', end='.') # В конце вывода - точка.
print('Text2', end='.') # В конце вывода - точка.
print('Text1', 'Text3', sep='.', end='.') # В конце вывода - точка.
print('Text4') # В конце вывода - перевод на новую строку.
print('Text5') # В конце вывода - перевод на новую строку.
print('Text7') # В конце вывода - перевод на новую строку.

Text1.Text2.Text1.Text3.Text4
Text5
Text7

Необязательный параметр file позволяет указать поток вывода. По
умолчанию или в случае, когда указано значение None, используется
sys.stdout (консоль). С помощью этого параметра можно перенаправить
вывод в текстовый файл.

Необязательный параметр flush позволяет отключить буферизированный вывод. По умолчанию используется значение False, то есть буферизация включена.

В этом случае в поток вывода отправляются значения переменных.

In [6]:
a = 1
b = 5
c = 7
print('a=', a, 'b=', b, 'c=', c)

a= 1 b= 5 c= 7

### Форматированный вывод

В предыдущем примере результат получен в виде

a= 1 b= 5 c= 7

Что делать, если мы хотим представить его следующим образом
a=1, b=5, c=7.

Эту задачу можно решить разными способами.

Первый вариант - использовать параметры sep и end в функции print.

In [7]:
a = 1
b = 5
c = 7
print('a=', a, ', ', 'b=', b, ', ', 'c=', c, '. ', sep='')

a=1, b=5, c=7.

In [8]:
a = 1
b = 5
c = 7
print('a=', a, ', ', 'b=', b, ', ', 'c=', c, sep='', end='.')

a=1, b=5, c=7.

Однако, назвать такие варианты реализации хорошо читаемыми едва ли возможно.

Второй способ - использование оператора % в функции print.

In [9]:
a = 1
b = 5
c = 7
print('a=%1d, b=%1d, c=%1d.' % (a, b, c))

a=1, b=5, c=7.

Как видно из примера, сначала внутри строки мы записываем шаблоны для вывода значения переменной (у нас все три переменные целочисленные, состоят из одной цифры и для их вывода мы указываем шаблон %1d).

Здесь параметр 1 означает, что при выводе выделяется место для размещения одной цифры, параметр d говорит о том, что при выводе будет использовано целое число.

После строки записывается оператор % и затем указывается кортеж, содержащий значения переменных, которые будут подставлены в соответствующие места строки.

Например, если для вывода нужно использовать три позиции, то запишем

In [10]:
a = 1
b = 5
c = 7
print('a=%3d, b=%3d, c=%3d.' % (a, b, c))

a=  1, b=  5, c=  7.

Наиболее удобным способом форматирования вывода является применение f - строк («formatted string»).

Этот способ стал доступен в версии python 3.6. F-строки позволяют использовать переменные внутри строки (при этом переменные заключаются в фигурные скобки).

In [12]:
a = 1
b = 5
c = 7
print(f'a={a}, b={b}, c={c}.')

a=1, b=5, c=7.

F - строки позволяют гибко настраивать вывод чисел. Для этого после имени переменной в фигурных скобках ставится двоеточие и указавается шаблон форматирования.

In [14]:
a = 1.1224354
b = 5.43543654
c = 7.464564564
print(f'a={a:.3f}, b={b:.4f}, c={c:.5f}.')

a=1.122, b=5.4354, c=7.46456.

В приведенном примере

переменная a выводится с тремя знаками после запятой,

переменная b – с четырьмя,

переменная c – с пятью.

Подробнее про шаблоны форматирования можно прочитать в документации python.